name: CI

permissions: {}

on:
  workflow_dispatch:
  pull_request:
    types:
      - opened
      - synchronize
    paths-ignore: &paths-ignore
      - "**/*.md"
      - "!.github/workflows/ci.yml"
  push:
    branches:
      - main
    paths-ignore: *paths-ignore

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - uses: taiki-e/checkout-action@afad4df3ab3122b166e8226ac83be4d981fb64e8 # v1.3.2

      - uses: oxc-project/setup-node@8958a8e040102244b619c4a94fccb657a44b1c21 # v1.0.6

      - name: Check scripts are executable
        run: |
          test -x init.sh
          test -x bench-all.sh
          test -x bench-vscode/bench.sh
          test -x bench-vue/bench.sh
